body {
  background-color: hsla(0, 0%, 62%, 0.3);
}

.case {
  background-color: red;
  margin: 50px;
  border-radius: 5%;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

canvas {
  background-color: #9e9ea2; /*#33334d; */
  margin-top: -2%;
  margin-right: 50px;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 5%;
  border-color: black;
  border-width: 3px;
  border-style: groove;
/* \ max-width: 1000px;
  max-height: 900px; */
}

#gamename {
  text-align: center;
  color: #f1d750;
  font-family: cursive;
  font-size: 3em;
  text-shadow: 4px 1px 3px black;
}

.control {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100%;
  border: 3px;
  border-style: groove; /*outset */
  border-color: black;
  /* margin-left: 35px; */

}

.inner{
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 100%;
  border: 3px;
  border-style: outset;
  border-color: rgba(0, 0, 0, 0.32);
  margin: 4px 30px 4px 5px;
}

#left{
  margin: -30px 55px 35px 35px;
}

#right{
  margin: -130px 555px 35px 935px;
}
