Body {
  background-color: hsla(0, 0%, 62%, 0.3);
}

.case {
  background-color: red;
  margin: 50px;
  border-radius: 5%;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

Canvas {
  background-color: #33334d;
  margin-top: 5%;
  margin-right: -10%;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 5%;
  border-color: black;
  border-width: 3px;
  border-style: groove;
/* \ max-width: 1000px;
  max-height: 900px; */
}

h2 {
  text-align: center;
}
